IEGBillingSystemProcess/Service References/PushService/DatabaseManagementLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseManagementLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseManagementLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CDeviceStatusDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="warehouse" type="xs:int" />
      <xs:element minOccurs="0" name="devicecode" type="xs:int" />
      <xs:element minOccurs="0" name="tasktype" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isavailable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="devicemode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="deviceaddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="devicetype" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="halltype" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isgetoutcar" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="iccode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="instep" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="outstep" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="runstep" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="warehousechange" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="devicelayer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="prevnode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="currentnode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="queueprevnode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="queuecurrentnode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="scrloc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desccloc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CDeviceStatusDto" nillable="true" type="tns:CDeviceStatusDto" />
  <xs:complexType name="CDeviceFaultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="faultdescp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="faultaddress" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isable" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="devicecode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CDeviceFaultDto" nillable="true" type="tns:CDeviceFaultDto" />
  <xs:complexType name="CCarLocationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="carlocaddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carlocside" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carloccolumn" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carloclayer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carlocstatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carloctype" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carlocsize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iccode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carwheelbase" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carsize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isbackup" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carintime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="priorityid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carpicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direction" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="overallLg" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="overhang" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="carweight" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="offcenter" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="rearwheeldis" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CCarLocationDto" nillable="true" type="tns:CCarLocationDto" />
</xs:schema>